html, body {
  height: 100vh;
  overflow: hidden;
}

.portfolioPage {
   overflow-y: scroll;
   scroll-snap-type: y mandatory;
   height: 100vh;
  }
  
  .portfolioPage__projects {
    padding-top: 2.5rem;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
height: 100vh;

}

.portfolioPage__items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin: 0 8rem;
  flex: 1;
  border-radius: 2rem;
  position: relative;
  padding: 1rem;
  transition: all 0.3s ease;
  scroll-snap-type: x mandatory;
  justify-content: center;
}

.items__moreBtn {

  text-transform: capitalize;
  cursor: pointer;
  /* border-radius: 100px;
  border: 1px solid white; */
  background: #181818;
  color: white;
  font-size: 1rem;
  outline: none;
  padding: 1rem 2rem;
  font-family: "roboto";
    position: absolute; 
  /* bottom: 5%;  */
  left: 50%; 
  transform: translateX(-50%);
  z-index: 2;
}

@media (max-width: 1280px) {
  .portfolioPage__items {
    margin: 0 5rem;
    padding: 0.6rem;
  }
}

@media (max-width: 960px) {
  .portfolioPage__items {
    margin: 0 4rem;
    padding: 0;
    border: none;
    flex-wrap: nowrap;
  }
  .items__moreBtn {
    /* display: none; */
  }
}

@media (max-width: 650px) {
  .portfolioPage__items {
    margin: 0 2.7rem;
    padding: 0;
  }
  .portfolioPage {
  }
}
