html,
body {
  height: 100vh;
  overflow: hidden;
}

.portfolioPage {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.portfolioPage__projects {
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.portfolioPage__items {
  width: 600px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin: 0 auto;
  border-radius: 2rem;
  position: relative;
  padding: 1rem;
  transition: all 0.3s ease;
  scroll-snap-type: x mandatory;
  justify-content: center;
}

.items__moreBtn {
  text-transform: capitalize;
  cursor: pointer;
  background: #181818;
  color: white;
  font-size: 1rem;
  outline: none;
  padding: 1rem 2rem;
  font-family: "roboto";
  position: absolute;
  /* bottom: 5%;  */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media (max-width: 1280px) {
}

@media (max-width: 960px) {
}

@media (max-width: 650px) {
}
