.skills__container {
  display: flex;
  /* flex: 0 0 100%; */
  /* max-width: 100%; */
  width: 800px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.skills {
  display: flex;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
}

.skills__subHead {
  width: 700px;
  margin: 3rem auto;
  font-family: "Fira code";
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 1280px) {
  .skills__container {
    width: 500px;
  }
  .skills__subHead {
    width: 425px;
    margin: 2rem auto;
    font-size: 1.3rem;
  }
}

@media (max-width: 960px) {
  .skills__container {
    width: 400px;
  }
  .skills__subHead {
    width: 340px;
    margin: 1.5rem auto;
    font-family: "Fira code";
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .skills__container {
    width: 260px;
  }

  .skills__subHead {
    width: 280px;
    margin: 1rem auto;
    font-family: "Fira code";
    font-size: 1rem;
  }
}
