.--dark-theme {
  --chat-background: rgba(10, 14, 14, 0.95);
  --chat-panel-background: #131719;
  --chat-bubble-background: #14181a;
  --chat-bubble-active-background: #171a1b;
  --chat-add-button-background: #212324;
  --chat-send-button-background: #8147fc;
  --chat-text-color: #a3a3a3;
  --chat-options-svg: #a3a3a3;
}
#chat {
  background-image: url(../../Assets/whatsapp_wallpaper.png);
  box-sizing: border-box;
  /* margin: 0 0 1em 1em; */
  position: relative;
  height: 85%;
  overflow-y: hidden;
}
#chat::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#chat .btn-icon {
  position: relative;
  cursor: pointer;
}
#chat .btn-icon svg {
  stroke: #fff;
  fill: #fff;
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat__header {
  display: flex;
  border-bottom: 1px solid #fff;
  background: #075b52;
  width: 100%;
}

.chat__header__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1em;
}

.chat__header__container__title {
  font-size: 1.3em;
  font-family: 'Roboto';
}

.chat__header__container__status {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 0.8em;
  padding-top: 0.4em;
}

.chat__header__logo {
  margin: 1em 0 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__header__actionBtn {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__header__actionBtn__img {
  object-fit: contain;
  height: 25px;
  transform: rotate(-90deg);
}

.chat__header__logo {
  height: 45px;
  width: 45px;
  overflow: hidden;
  border-radius: 50%;
  user-select: none;
  position: relative;
}

.chat__header__logoImg {
  height: 100%;
  width: auto;
}

#chat .chat__conversation-board {
  padding: 1em 0 2em;
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow-y: scroll;
}

/* =============================CUSTOM SCROLL==================================== */
/* total width */
.chat__conversation-board::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

/* background of the scrollbar except button or resizer */
.chat__conversation-board::-webkit-scrollbar-track {
  background-color: transparent;
}
.chat__conversation-board::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

/* scrollbar itself */
.chat__conversation-board::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid transparent;
}
.chat__conversation-board::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
.chat__conversation-board::-webkit-scrollbar-button {
  display: none;
}

@media only screen and (max-width: 650px) {
  #chat {
    margin: 0;
    border-radius: 0;
  }
  #chat .chat__conversation-board__message__options {
    display: none !important;
  }
}
