#chat .chat__conversation-board__message-container.reversed {
  flex-direction: row-reverse;
}
#chat .chat__conversation-board__message-container.reversed .chat__conversation-board__message__bubble {
  position: relative;
}
#chat
  .chat__conversation-board__message-container.reversed
  .chat__conversation-board__message__bubble
  span:not(:last-child) {
  margin: 0 0 2em 0;
}
#chat .chat__conversation-board__message-container.reversed .chat__conversation-board__message__person {
  margin: 0 0 0 1.2em;
}

#chat .chat__conversation-board__message-container.reversed .chat__conversation-board__message__bubble span {
  /* background-color: #3494ec;
  color: #fff; */
  color: black;
  background-color: #e2ffc7;
}

#chat .chat__conversation-board__message-container.reversed .chat__conversation-board__message__bubble span::after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}

#chat .chat__conversation-board__message-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

#chat .chat__conversation-board__message-container:not(:last-child) {
  margin: 0 0 2em 0;
}
#chat .chat__conversation-board__message__person {
  text-align: center;
  margin: 0 1.2em 0 0;
}
#chat .chat__conversation-board__message__person__avatar {
  display: none;
  height: 35px;
  width: 35px;
  overflow: hidden;
  border-radius: 50%;
  user-select: none;
  ms-user-select: none;
  position: relative;
}
#chat .chat__conversation-board__message__person__avatar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
}
#chat .chat__conversation-board__message__person__avatar img {
  height: 100%;
  width: auto;
}
#chat .chat__conversation-board__message__person__nickname {
  font-size: 9px;
  color: #484848;
  user-select: none;
  display: none;
}
#chat .chat__conversation-board__message__context {
  max-width: 55%;
  align-self: flex-end;
}
#chat .chat__conversation-board__message__options {
  align-self: center;
  position: absolute;
  right: 0;
  display: none;
}
#chat .chat__conversation-board__message__options .option-item {
  border: 0;
  background: 0;
  padding: 0;
  margin: 0;
  height: 16px;
  width: 16px;
  outline: none;
}

#chat .chat__conversation-board__message__bubble span {
  width: fit-content;
  display: inline-table;
  word-wrap: break-word;
  /* background: var(--chat-bubble-background); */
  /* background: #5c5c5c; */
  background: #fff;
  font-size: 13px;
  /* color: var(--chat-text-color); */
  color: black;
  padding: 0.5em 0.8em;
  line-height: 1.5;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

#chat .chat__conversation-board__message__bubble span::after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

#chat .chat__conversation-board__message__bubble:not(:last-child) {
  margin: 0 0 0.3em;
}
#chat .chat__conversation-board__message__bubble:active {
  background: var(--chat-bubble-active-background);
}
