.planets__wrapper {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

#circle__blue {
  position: fixed;
  width: 676px;
  height: 676px;
  left: -10%;
  top: -5%;
  border-radius: 50%;
  background: radial-gradient(
    81.25% 81.25% at 67.32% 18.75%,
    #742ad2 0%,
    #df09ca 61.22%
  );
  transform: rotate(30deg);
  z-index: -1;
}

#circle__gold {
  z-index: -1;
  position: fixed;
  width: 182px;
  height: 182px;
  /* top: 92%; */
  bottom: 0;
  right: 5%;
  border-radius: 50%;
  background: radial-gradient(
    76.75% 76.75% at 70% 23.25%,
    #c21500 0%,
    #ffc500 100%
  );
}

#circle__pink {
  z-index: -1;
  position: fixed;
  width: 280px;
  height: 280px;
  right: -3%;
  top: -10%;
  border-radius: 50%;
  background: conic-gradient(
    from 167.41deg at 70% 23.25%,
    #c450ed 0deg,
    #ff0a0a 104.14deg,
    #c450ed 360deg
  );
}

#circle__green {
  z-index: -1;
  position: fixed;
  width: 300px;
  height: 300px;
  left: 57.5%;
  top: 31%;
  border-radius: 50%;
  background: radial-gradient(
    76.75% 76.75% at 70% 23.25%,
    #8fe74a 0%,
    #44e6b5 100%
  );
}

@media (max-width: 1280px) {
  #circle__blue {
    height: 450px;
    width: 450px;
  }

  #circle__green {
    width: 200px;
    height: 200px;
  }

  #circle__pink {
    width: 186px;
    height: 186px;
  }

  #circle__gold {
    width: 121px;
    height: 121px;
  }
}

@media (max-width: 960px) {
  #circle__green {
    display: none;
  }

  #circle__blue {
    width: 400px;
    height: 400px;
    top: 10%;
    left: -150px;
  }
}

@media (max-width: 650px) {
  #circle__blue {
    left: -200px;
  }
  #circle__pink {
    display: none;
  }
  #circle__green {
    display: block;
    position: absolute;
    width: 180px;
    height: 180px;
    top: -120px;
    left: 150px;
  }
  #circle__gold {
    width: 240px;
    height: 240px;
    right: -100px;
    bottom: 80px;
  }
}
