@import "../../mainSass/main";

.planets__wrapper {
  position: relative;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#circle__blue {
  position: absolute;
  width: 500px;
  height: 500px;
  left: -10%;
  bottom: 15%;
  border-radius: 50%;
  background: radial-gradient(circle at 150px 150px, #742ad2, #df09ca);
  transform: rotate(60deg);

  @include respond(tab-port) {
    width: 400px;
    height: 400px;
  }
  @include respond(phone) {
    width: 300px;
    height: 300px;
    left: -15%;
    bottom: 22%;
  }
  @include respond(midPhone) {
    width: 250px;
    height: 250px;
    left: -15%;
    bottom: 20%;
  }
  @include respond(smallPhone) {
    width: 200px;
    height: 200px;
    left: -15%;
    bottom: 20%;
  }
}

#circle__gold {
  position: absolute;
  width: 182px;
  height: 182px;
  /* top: 92%; */
  bottom: 1%;
  right: 0.5%;
  left: 93%;
  border-radius: 50%;
  background: radial-gradient(
    76.75% 76.75% at 70% 23.25%,
    #c21500 0%,
    #ffc500 100%
  );

  @include respond(tab-port) {
    // right: 10%;
    left: 75%;
    bottom: 5%;
  }
  @include respond(phone) {
    width: 130px;
    height: 130px;
    left: 85%;
    bottom: -1%;
  }
}

#circle__pink {
  position: absolute;
  width: 280px;
  height: 280px;
  right: -3%;
  top: -5%;
  border-radius: 50%;
  background: conic-gradient(
    from 167.41deg at 70% 23.25%,
    #c450ed 0deg,
    #ff0a0a 104.14deg,
    #c450ed 360deg
  );

  @include respond(tab-port) {
    width: 200px;
    height: 200px;
  }
  @include respond(phone) {
    width: 150px;
    height: 150px;
    right: 30%;
    top: -5%;
  }
  @include respond(midPhone) {
    width: 110px;
    height: 110px;
    right: 30%;
    top: -10%;
  }
  @include respond(smallPhone) {
    width: 100px;
    height: 100px;
    right: 30%;
    top: -10%;
    // display: none;
  }
}

#circle__green {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 57.5%;
  top: 31%;
  border-radius: 50%;
  background: radial-gradient(
    76.75% 76.75% at 70% 23.25%,
    #8fe74a 0%,
    #44e6b5 100%
  );
  @include respond(tab-port) {
    width: 200px;
    height: 200px;
  }
  @include respond(phone) {
    width: 250px;
    height: 250px;
    left: 70%;
  }
  @include respond(midPhone) {
    width: 200px;
    height: 200px;
  }

  @keyframes identifier {
  }
}

// @media (max-width: 1540px) {
//   #circle__blue {
//     height: 507px;
//     width: 507px;
//   }

//   #circle__green {
//     width: 225px;
//     height: 225px;
//   }

//   #circle__pink {
//     width: 210px;
//     height: 210px;
//   }

//   #circle__gold {
//     width: 136px;
//     height: 136px;
//   }
// }

// @media (max-width: 1280px) {
//   #circle__blue {
//     height: 450px;
//     width: 450px;
//   }

//   #circle__green {
//     width: 200px;
//     height: 200px;
//   }

//   #circle__pink {
//     width: 186px;
//     height: 186px;
//   }

//   #circle__gold {
//     width: 121px;
//     height: 121px;
//   }
// }

// @media (max-width: 960px) {
//   #circle__green {
//     // display: none;
//   }

//   #circle__blue {
//     width: 400px;
//     height: 400px;
//     top: 10%;
//     left: -150px;
//   }
// }

// @media (max-width: 650px) {
//   #circle__blue {
//     left: -200px;
//   }
//   #circle__pink {
//     display: none;
//   }
//   #circle__green {
//     display: block;
//     position: absolute;
//     width: 180px;
//     height: 180px;
//     top: -120px;
//     left: 150px;
//   }
//   #circle__gold {
//     width: 240px;
//     height: 240px;
//     right: -100px;
//     bottom: 80px;
//   }
// }
