.portfolioView {
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.portfolioView__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin: 0 auto;
}

.carousel.carousel-slider .control-arrow {
  padding: 0 !important;
}

@media (max-width: 1280px) {
  .portfolioView__items {
    width: 600px;
  }
}

@media (max-width: 960px) {
  .portfolioView {
    justify-content: center;
  }
  .portfolioView__items {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
}

@media (max-width: 650px) {
  .portfolioView__items {
    width: 90%;
  }
}
