.portfolioView {
  min-height: 100vh;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolioView__items {
  display: flex;
  flex: 1;
  align-items: center;
  /* flex-wrap: wrap; */

  margin: 0 8rem;
}

@media (max-width: 1280px) {
  .portfolioView__items {
    margin: 0 5rem;
  }
}

@media (max-width: 960px) {
  .portfolioView__items {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
}

@media (max-width: 650px) {
 
  .portfolioView__items {
    margin: 0 3rem;
  }
}
