@import "../../mainSass/main";

.chatboard__wrapper {
  //   min-height: auto;
  height: 600px;
  //   min-height: 20%;
  width: 60%;
  //   margin-bottom: 10vh;
  overflow-y: scroll;
  border-radius: 0.5rem;

  @include respond(tab-land) {
    height: 420px;
  }
  @include respond(phone) {
    height: 210px;
    overflow: visible;
    margin-bottom: 6rem;
  }
  @include respond(midPhone) {
    height: 210px;
    width: 80%;
    overflow: visible;
    margin-bottom: 6rem;
  }

  @include respond(smallPhone) {
    height: 220px;
    width: 80%;
    overflow: visible;
    margin-bottom: 6rem;
  }
}
