@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import "../../mainSass/main";

.signupSection {
  background-color: #0b111b;
  background-repeat: no-repeat;
  margin-top: 4rem;
  font-family: $contentFont;
  width: 800px;
  height: 450px;
  z-index: 10;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);

  @include respond(phone) {
    width: 400px;
    height: 390px;
    display: flex;
    flex-direction: column;
  }
  @include respond(midPhone) {
    width: 300px;
    height: 60%;
  }
  @include respond(smallPhone) {
    width: 200px;
    height: 70%;
  }
}

.info {
  width: 45%;
  background: rgba(20, 20, 20, 0.8);
  padding: 30px 0;
  border-right: 5px solid rgba(30, 30, 30, 0.8);
  font-size: 2rem;
  h2 {
    padding-top: 30px;
    font-weight: 500;
    font-family: $mainFont;
    background: linear-gradient(
      to right,
      rgb(176, 172, 224),
      rgb(238, 224, 251)
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  p {
    font-size: 1.8rem;
    opacity: 0.7;
  }
  .icon {
    font-size: 8em;
    padding: 20px 0;
    color: rgb(168, 255, 255);
  }

  @include respond(big-desktop) {
    font-size: 1.4rem;

    p {
      font-size: 1.1rem;
    }
  }

  @include respond(phone) {
    width: 100%;
    border: none;
    // height: 45%;
    // display: none;
  }
}

.signupForm {
  width: 70%;
  padding: 30px 0;
  background: rgba(4, 39, 85, 0.513);
  transition: 0.2s;
  h2 {
    font-weight: $h2Weight;
    font-family: $mainFont;
    font-size: 2rem;
    opacity: 0.8;
  }
  @include respond(phone) {
    // height: 45%;

    width: 100%;
  }
}

.inputFields {
  margin: 15px 0;
  font-size: 1.6rem;
  padding: 10px;
  width: 250px;
  border: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  resize: none;
  border-right: none;
  background: #ffffff05;
  color: white;
  outline: none;

  @include respond(big-desktop) {
    font-size: 1.4rem;
  }

  @include respond(phone) {
    width: 80%;
  }
}

textarea,
input[type="text"] {
  font-family: $mainFont;
}
.noBullet {
  list-style-type: none;
  padding: 0;
}

#join-btn {
  border: 1px solid rgb(255, 255, 255);
  background: rgba(20, 20, 20, 0.6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background: rgba(20, 20, 20, 0.8);
    padding: 10px 80px;
  }
}

#center-btn a span {
  position: absolute;
  display: block;
}

#center-btn a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #1f84de);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

#center-btn a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #1f84de);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

#center-btn a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #1f84de);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

#center-btn a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  opacity: 0.8;
  margin-top: 40px;
  font-weight: 400;
  font-family: $mainFont;
  letter-spacing: 2px;
}

#center-btn a:hover {
}

#center-btn a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #1f84de);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
