@import "../../mainSass/main";

.title {
  width: 100%;
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: capitalize;
  overflow-x: hidden;
  align-items: center;
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;

  @include respond(phone) {
    font-size: 2rem;
  }
}

.title p {
  /* padding: 9rem 0 4rem 18rem; */
  font-family: $mainFont;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  /* margin-top: 8rem; */
}

.title__line {
  position: relative;
  width: 100px;
  height: 0px;
  /* top: 20px; */
  margin: 0 20px;
  opacity: 0.6;
  border-bottom: 2px solid rgba(255, 255, 255, 0.514);

  @include respond(smallPhone) {
    width: 10px;
  }
}

@include respond(tab-port) {
  .title p {
    padding: 2.5rem 0 1.3rem 2rem;
  }

  .title__line {
    width: 50px;
    margin: 10px;
  }
}

// @media (max-width: 650px) {
//   .title p {
//     padding: 2.5rem 0 1.3rem 2rem;
//   }

//   .title__line {
//     width: 50px;
//     margin: 10px;
//   }
// }
