.contactView {
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 2rem;
}

.contactView__email {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2rem;
  padding: 0 0 2rem 4rem;
  font-family: "Fira code";
  color: #00ffd1;
}

@media (max-width: 1280px) {
  /* .contactView__email {
    font-size: 1.2rem;
    padding: 0 0 1.2rem 2rem;
  } */
}

@media (max-width: 650px) {
  .contactView__email {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    padding-bottom: 3rem;
  }
}
