.home {
  position: relative;
  height: 100vh;
  scroll-snap-stop: always;
  background-image: url(../../Assets/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
}

.home__headline {
  z-index: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 9rem;
  font-family: "Fira Code";
  font-weight: 700;
  width: 400px;
  padding-left: 15vw;
}

.home__scroll {
  position: absolute;
  right: 0;
  padding-right: 10vw;
  top: 616px;
  font-family: "Fira code";
  font-weight: 400;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__scrollArrow {
  object-fit: contain;
  height: 80px;
}

.home__scroll__icon {
  display: none;
}

@media (max-width: 1280px) {
  .home__scroll {
    top: 410px;
    padding-right: 15vw;
  }
}

@media (max-width: 650px) {
  .home__scroll {
    width: 100%;
    position: absolute;
    bottom: 3rem;
    right: 50%;
    transform: translateX(50%);
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }

  .home__scroll p:first-of-type {
    padding-bottom: 1em;
  }

  .home__scroll .fa-chevron-down {
    animation: bounce 2s infinite;
    padding-top: 1rem;
  }

  .home__scroll img {
    display: none;
  }
  .home__scroll__icon {
    display: block;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-40px);
    }
  }
}
