.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Fira code";
  padding: 0 0 6rem;
  /* background: rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(82px); */
}

.contactForm__row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contactForm input {
  margin: 1rem 1rem 2rem 1rem;
  padding: 1.2rem 2rem;
  background: none;
  outline: none;
  width: 100%;
  border: none;
  box-shadow: inset -2px -2px 4px rgba(25, 25, 26, 0.5),
    inset 2px 2px 4px rgba(15, 13, 13, 0.25),
    inset 5px 5px 10px rgba(15, 13, 13, 0.5), inset -5px -5px 10px #19191a;
  border-radius: 2rem;
  font-size: 1.6rem;
  color: #7878ab;
  font-family: "Fira code";
}

.contactForm textarea {
  background: none;
  box-shadow: inset -2px -2px 4px rgba(25, 25, 26, 0.5),
    inset 2px 2px 4px rgba(15, 13, 13, 0.25),
    inset 5px 5px 10px rgba(15, 13, 13, 0.5), inset -5px -5px 10px #19191a;
  border-radius: 2rem;
  border: none;
  outline: none;
  width: 100%;
  margin: 0 1rem;
  padding: 2rem 2rem;
  font-size: 1.6rem;
  color: #7878ab;
  font-family: "Fira code";
  height: 250px;
}

.contactForm__submitBtn {
  border: transparent;
  background: linear-gradient(145deg, #1c1c1c, #171717);
  box-shadow: 4px 4px 12px #0a0a0a, -4px -4px 12px #2a2a2a;
  border-radius: 300px;
  color: #7878ab;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  font-family: "Fira code";
  font-weight: 700;
  margin-top: 2rem;
  cursor: pointer;
  outline: none;
}

.contactForm__submitBtn:hover {
}

.contactForm__submitBtn:focus {
  background: linear-gradient(145deg, #171717, #1c1c1c);
  box-shadow: 4px 4px 12px #0a0a0a, -4px -4px 12px #2a2a2a;
}

@media (max-width: 1280px) {
  .contactForm textarea {
    height: 160px;
  }
}

@media (max-width: 650px) {
  .contactForm form {
    /* width: 90%/; */
  }
  .contactForm__row {
    flex-direction: column;
    align-items: center;
  }
}
