.iPhone {
  position: absolute;
  height: 704px;
  width: 396px;
  padding: 90px 10px;
  border: 5px solid #2f2f2f;
  border-radius: 60px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.4);
}
.iPhone:before,
.iPhone:after {
  content: "";
  position: absolute;
  z-index: 2;
}
.iPhone:before {
  width: 20%;
  height: 10px;
  top: 40px;
  left: 40%;
  border-radius: 10px;
  /* background-color: #2f2f2f; */
}
.iPhone:after {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 5px #2f2f2f;
  left: calc(50% - 25px);
  bottom: 20px;
}

.icon {
  z-index: -1;
  font-family: "weathericons";
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 50%;
  height: 50px;
  transform: translateY(136px);
}
.icon i {
  font-style: normal;
  position: absolute;
}

@media (max-width: 650px) {
  .iPhone {
    height: 400px;
    width: 268.125px;
  }
}
