@import "../../mainSass/main";

.techCard {
  flex: 0 0 25%;
  max-width: 25%;
  /* background-color: brown; */
}

.techCard__container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.techCard__logo {
  object-fit: contain;
  height: 60px;

  @include respond(phone) {
    height: 40px;
  }
}

.techCard__container p {
  padding-top: 0.7rem;
  font-size: 1.2rem;
  font-family: $contentFont;
}

// @media (max-width: 1280px) {
//   .techCard__logo {
//     height: 66px;
//   }
// }

// @media (max-width: 960px) {
//   .techCard__logo {
//     height: 50px;
//   }
// }
