.techCard {
  flex: 0 0 25%;
  max-width: 25%;
  /* background-color: brown; */
}

.techCard__container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.techCard__logo {
  object-fit: contain;
  height: 100px;
}

.techCard__container p {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-family: "Fira code";
}

@media (max-width: 1280px) {
  .techCard__logo {
    height: 66px;
  }
}

@media (max-width: 960px) {
  .techCard__logo {
    height: 50px;
  }
}
