.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  justify-content: center;
}

.navbar__logoContainer {
  position: relative;
  flex: 0 0 33.33%;
  transform: all 0.3s ease;
  /* justify-content: flex-end; */
  display: flex;
}

.navbar__logoImg {
  position: absolute;
  object-fit: contain;
  height: 100px;
  right: 4px;
}

.navbar__nav {
  display: flex;
  flex: 0 0 33.33%;
  /* flex: 1; */
  list-style: none;
  justify-content: center;
}

.navbar__nav li {
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Roboto';
  padding: 2.5rem 1rem;
  text-transform: uppercase;
}

.navbar__contactBtb {
  flex: 0 0 33.33%;
}

.navbar__contactBtb div {
  margin: 2rem 16rem 0 4rem;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 1rem;
  width: 144px;
  height: 41px;
  background: #00ff94;
  border-radius: 92px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
