.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  transition: all ease;
  justify-content: center;
  z-index: 10;
}

.navbar__logoContainer {
  transform: translateX(50px);
  transform: all 0.3s ease;
  z-index: 2;
}

.navbar__logoImg {
  object-fit: contain;
  height: 100px;
}

.navbar__nav {
  display: flex;
  flex: 0 0 33.33%;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.navbar__nav li {
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Roboto';
  
  padding: 0 1rem;
  /* text-align: center; */
  text-transform: uppercase;
}

.navbar__contactBtb {
  display: flex;
  align-items: center;
}

.navbar__contactBtb > div {
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 1rem;
  width: 144px;
  height: 41px;
  background: #00ff94;
  border-radius: 92px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.navbar__burgerBtn {
  display: none;
  z-index: 2;
}

.navbar__specialCase {
  display: none;
}

@media (max-width: 1280px) {
  .navbar__logoImg {
    height: 80px;
  }
  .navbar__nav li {
    padding: 1.6rem 0.6rem;
    font-size: 0.8rem;
  }
  .navbar__contactBtb > div {
    width: 93px;
    height: 26px;
    font-size: 0.8rem;
  }
}

@media (max-width: 960px) {
  .navbar__specialCase {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
background: rgba(255, 255, 255, 0.24);
color: black;
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
    position: relative;
    /* transform: translateX(-50px); */
  }
  .navbar__logoContainer {
    position: fixed;
    left: -120px;
    top: 0;
  }

  .navbar__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    position: absolute;
    transition: all 0.3s ease;
    top: -400px;
    /* right: 0; */
    z-index: -1;
    text-align: center;
    overflow-x: hidden;
  }

  .navbar__nav li {
    padding: 1.5rem 0rem;
    width: 100vw;
    font-weight: 500;
  }

  .navbar__nav.active li:hover {
    transition: cubic-bezier(1, 0, 0, 1);
    background: rgba(255, 255, 255, 0.24);
    color: black;
  }

  .navbar__nav.active {
    /* left: 50px; */
    background-blend-mode: hue;
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(21, 21, 21, 0) 100%);
    backdrop-filter: blur(42px);
    top: 0;
    z-index: 1;
  }

  .navbar__burgerBtn {
    display: block;
    position: fixed;
    transition: all 0.3s ease;
    top: 0;
    right: 0;
    margin: 30px;
    /* transform: translate(0, 60%); */
    font-size: 1.8rem;
    cursor: pointer;
  }

  .navbar__burgerBtn .fa {
    animation: shrink 1s linear;
  }

  @keyframes shrink {
    0%,
    100% {
      width: 100%;
    }
    50% {
      width: 0;
    }
  }

  .navbar__contactBtb {
    display: none;
  }
}
