.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navbar__logoContainer {
  position: relative;
  transform: all 0.3s ease;
  z-index: 2;
}

.navbar__logoImg {
  object-fit: contain;
  height: 100px;
}

.navbar__nav {
  display: flex;
  flex: 0 0 33.33%;
  /* flex: 1; */
  list-style: none;
  justify-content: center;
}

.navbar__nav li {
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Roboto';
  padding: 2.5rem 1rem;
  text-transform: uppercase;
}

.navbar__contactBtb > div {
  /* margin: 2rem 16rem 0 4rem; */
  margin-top: 2rem;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 1rem;
  width: 144px;
  height: 41px;
  background: #00ff94;
  border-radius: 92px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.navbar__burgerBtn {
  display: none;
  z-index: 2;
}

@media (max-width: 960px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
    position: relative;
  }
  .navbar__logoContainer {
    position: absolute;
    left: -70px;
    top: 0;
  }

  .navbar__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    transition: all 0.3s ease;
    top: -500px;
    z-index: -1;
    text-align: center;
  }

  .navbar__nav.active li:hover {
    transition: cubic-bezier(1, 0, 0, 1);
    background: rgba(255, 255, 255, 0.24);
  }

  .navbar__nav.active {
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(21, 21, 21, 0) 100%);
    backdrop-filter: blur(42px);
    top: 0;
    z-index: 1;
  }

  .navbar__burgerBtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .navbar__contactBtb {
    display: none;
  }
}
