@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../../mainSass/main";

.about {
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  color: white;
  z-index: 0;
  position: relative;
  font-family: Poppins;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.about__container {
  margin: 0rem 6rem;
  display: flex;
}

.about__infoContainer {
  flex: 0 0 75%;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.about__row {
  display: flex;
  margin-bottom: 2rem;
}

.about__seeMore {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
}

.about__seeMoreLine {
  border-bottom: 2px solid #00ff94;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.info__title {
  margin-bottom: 2rem;
  font-family: $mainFont;
  font-weight: 500;
  font-size: 2rem;
  line-height: 28px;
  color: #c3c3c3b6;
  opacity: 1;
}

.info__headline {
  font-family: $subHeadingFont;
  font-weight: $h2Weight;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  background: linear-gradient(to right, rgb(176, 172, 224), rgb(238, 224, 251));
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
}

.info__description {
  font-family: $contentFont;
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0.6;
  line-height: 32px;
  display: flex;
  align-items: initial;

  @include respond(tab-port) {
    line-height: 26px;
  }
}

.about__contentWrapper br {
  @include respond(smallPhone) {
    display: none;
  }
}

.about__infoText:last-of-type {
  text-align: right;
  margin-right: 0;
  margin-left: 2rem;
}

.about__infoText {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  justify-content: center;

  @include respond(tab-port) {
    margin-top: 5rem;
    align-items: center;
  }
}

.about__infoImg__container {
  position: relative;
  margin: 1rem;
}

.about__infoImg__container img {
  object-fit: contain;
  width: 500px;
}

.about__infoImg--bg {
  z-index: -1;
  opacity: 0.2;
  position: absolute;
  bottom: -10px;
  right: -10px;
  backdrop-filter: blur(42px);
}

@media (max-width: 1280px) {
  .about__infoImg__container img {
    object-fit: contain;
    width: 400px;
  }
}

@media (max-width: 960px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about__infoImg__container img {
    object-fit: contain;
    width: 100%;
    /* height: 100%; */
  }
  .about__row:last-child {
    display: none;
  }
  .about__container {
    flex-direction: column;
    align-items: center;
  }
  .about__infoContainer {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    padding-top: 0;
  }
  .info__title {
    display: none;
  }
  .about__row {
    flex-direction: column-reverse;
  }
  .about__seeMore {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about__infoImg {
    display: flex;
    justify-content: center;
  }
  .about__infoImg--main,
  .about__infoImg--bg {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  .about__infoText {
    /* margin: 0; */
  }
  .about__seeMore {
    /* font-size: 1rem; */
    font-weight: 400;
    font-family: $contentFont;
  }
}
