.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 12rem;
  padding: 1rem 0 1rem 0;
  font-family: "roboto";
  background: black;
  scroll-snap-align: end;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.footer__logo,
.footer__talkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 20%;
}

.footer__logoImg {
  object-fit: contain;
  height: 50px;
}

.footer__navLinks,
.footer__socialMedia,
.footer__about,
.footer__address {
  padding: 2rem 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 100%;
}

.footer__navLinks li,
.footer__socialMedia li,
.footer__about li {
  list-style: none;
}

.footer__talkBtn div {
  background: transparent;
  border: 1px solid;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-image-slice: 1;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
}

@media (max-width: 1280px) {
  .footer {
    padding: 0.8rem 0;
  }
  .footer__navLinks,
  .footer__socialMedia,
  .footer__about,
  .footer__address {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
