.mobileFooter {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  margin-top: 4rem;
  padding: 1rem 0 3rem 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.mobileFooter__follow {
  text-transform: uppercase;
}

.mobileFooter__socialLinks .fa {
  margin: 1rem 0.5rem;
  font-size: 2rem;
}

.mobileFooter__policy {
  display: flex;
}

.mobileFooter__policy > p {
  margin: 0.5rem;
  margin-top: 0;
  text-transform: capitalize;
  font-weight: 300;
}

.mobileFooter__credits {
  font-size: 1rem;
  margin: 5px 0;
}
