.mobileFooter {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  margin-top: 4rem;
  padding: 1rem 0 3rem 0;
   scroll-snap-align: start;
    scroll-snap-stop: always;
   /* height: 200px; */
}

.mobileFooter__follow {
  text-transform: uppercase;
}

.mobileFooter__socialLinks .fa {
  margin: 10px;
  margin-bottom: 5px;
  font-size: 1.8rem;
}

.mobileFooter__policy {
  display: flex;
}

.mobileFooter__policy > p {
  margin: 5px 10px;
  text-transform: capitalize;
  font-weight: 300;
}

.mobileFooter__credits {
  font-size: 0.8rem;
  margin: 5px 0;
}
