.portfolioCard {
  flex: 0 0 33.3333%;
}

.portfolioCard__container {
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(21, 21, 21, 0) 100%);
  backdrop-filter: blur(42px);
  margin: 2rem;
  overflow: hidden;
  border-radius: 1rem;
}

.portfolioCard__thumbnail {
  object-fit: contain;
  width: 100%;
  transition: all 0.3s ease;
}

.portfolioCard__thumbnail:hover {
  transform: scale(1.06);
}

.portfolioCard__title {
  font-size: 2rem;
  margin: 1rem;
  font-family: 'Roboto';
}

@media (max-width: 1280px) {
  .portfolioCard__container {
    margin: 1.2rem;
  }
  .portfolioCard__title {
    font-size: 1.2rem;
  }
}

@media (max-width: 960px) {
  .portfolioCard {
    flex: 0 0 50%;
  }
  .portfolioCard__container {
    margin: 0.9rem;
  }

  .portfolioCard__title {
    font-size: 0.9rem;
  }
}

@media (max-width: 650px) {
  .portfolioCard {
    flex: 0 0 100%;
  }
  .portfolioCard__thumbnail {
  }
}
