.portfolioCard {
  flex: 0 0 33.3333%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  font-family: "Poppins";
  z-index: 10;
  cursor: pointer;
}

.portfolioCard__container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(80px);
  border-radius: 1rem;
  position: relative;
}

.portfolioCard__thumbnail {
  transition: all 0.2s ease-out;
  opacity: 0.8;
  border-radius: 1rem;
}

.portfolioCard__thumbnail.active {
  transition: all 0.2s ease-in-out;
  transform: translateY(-100%);
  /* opacity: 0.01; */
}

.portfolioCard__title {
  text-transform: capitalize;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 400;
  transition: all 0.2s ease-in;
  font-family: "Poppins";
  text-align: left;
  /* animation: shrinkOut 0.3s; */
}

.portfolioCard__title.active {
  display: none;
  /* transform: translateY(-100%); */
}

.portfolioCard__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left !important;
}

.portfolioCard__infoContainer {
  padding: 1rem 1rem 1rem 2rem;
  height: 100%;
  display: flex;
  overflow-y: scroll;
}

.infoContainer__left {
  display: flex;
  flex-direction: column;
}

.infoContainer__right {
  display: flex;
  flex-direction: column;
}

.infoContainer__right .fa-github,
.infoContainer__right .fa-globe {
  font-size: 4rem;
  padding: 0.5rem;
  opacity: 0.6;
}

.infoContainer__right .fa-github:hover,
.infoContainer__right .fa-globe:hover {
  opacity: 1;
}

.infoContainer__title {
  /* display: none; */
  /* position: relative;
  top: 0;
  left: 0; */
  font-size: 2rem;
  font-weight: 400;
  /* transition: all 0.3s ease-out; */
  /* animation: 0.3s shrinkIn; */
}

.infoContainer__decription {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.8;
}

.infoContainer__stackUsed {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0 4rem 0;
  font-size: 2rem;
}

.stackUsed__stackItem {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.363);
  margin: 0 0.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.showInfo__btn {
  font-size: 2rem;
  transition: all 0.3s ease-in;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem 2rem 1rem 1rem;
}

@keyframes shrinkIn {
  0% {
    transform: scale(50%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes shrinkOut {
  0% {
    transform: scale(50%);
  }
  100% {
    transform: scale(100%);
  }
}

@media (max-width: 650px) {
  .portfolioCard__infoContainer {
    /* flex-direction: column; */
    /* padding: 0.33rem 0.33rem 0.33rem 0.66rem; */
    overflow-y: scroll;
    justify-content: space-between;
  }

  .infoContainer__right {
    /* flex-direction: row; */
  }
}
