@import "../../mainSass/main";

.portfolioCard {
  flex: 0 0 33.3333%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  font-family: $contentFont;
  z-index: 10;
  cursor: pointer;
}

.portfolioCard__container {
  background: #03080f;
  backdrop-filter: blur(80px);
  border-radius: 0.7rem;
  position: relative;
}

.portfolioCard__thumbnail {
  /* transition: all 0.2s ease-out; */
  opacity: 1;
  border-radius: 0.7rem;
}

.portfolioCard__thumbnail.active {
  /* transition: all 0.2s ease-in-out; */
  /* transform: translateY(-100%); */
  /* opacity: 0.01; */
}

.portfolioCard__title {
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 40%;
  color: #2e013b;
  padding: 1rem;
  font-size: 3rem;
  /* opacity: 0.8; */
  line-height: 6rem;
  font-weight: 600;
  transition: all 0.2s ease-in;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;

  /* animation: shrinkOut 0.3s; */
}

.portfolioCard__title.active {
  display: none;
  /* transform: translateY(-100%); */
}

.portfolioCard__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left !important;
}

.portfolioCard__infoContainer {
  padding: 1rem 2rem 1rem 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background-color: #03080f;
  border-radius: 0.7rem;
  backdrop-filter: 80%;
}

.infoContainer__left {
  display: flex;
  flex-direction: column;
}

.infoContainer__right {
  display: flex;
  flex-direction: column;
}

.infoContainer__right .fa-github,
.infoContainer__right .fa-globe {
  font-size: 4rem;
  padding: 0.5rem;
  opacity: 0.6;
}

.infoContainer__right .fa-github:hover,
.infoContainer__right .fa-globe:hover {
  opacity: 1;
}

.infoContainer__title {
  /* display: none; */
  /* position: relative;
  top: 0;
  left: 0; */
  font-size: 2.5rem;
  font-family: $mainFont;
  font-weight: 700;
  opacity: 0.8;
  background: linear-gradient(to right, rgb(176, 172, 224), rgb(238, 224, 251));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* transition: all 0.3s ease-out; */
  /* animation: 0.3s shrinkIn; */
}

.infoContainer__decription {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: $contentFont;
  opacity: 0.7;
}

.infoContainer__stackUsed {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  font-family: $contentFont;
  font-weight: 500;
  opacity: 0.7;
  align-items: center;
  margin: 2rem 0;
  /* font-size: 2rem; */
}

.stackUsed__stackItem {
  object-fit: contain;
  width: 3rem !important;
  background-color: rgba(0, 0, 0, 0.363);
  margin: 0 0.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.showInfo__btn {
  font-size: 2rem;
  transition: all 0.3s ease-in;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem 2rem 1rem 1rem;
}

.infoContainer__buttonLinks {
  /* gap: 1rem; */
  margin: 1rem 0 4rem 0;
}

.infoContainer__buttonLink {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.infoContainer__buttonLink:last-child {
  margin-right: 0rem;
}

.infoContainer__buttonLink:hover {
  background: rgba(255, 255, 255, 0.3);
}

@keyframes shrinkIn {
  0% {
    transform: scale(50%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes shrinkOut {
  0% {
    transform: scale(50%);
  }
  100% {
    transform: scale(100%);
  }
}

@media (max-width: 650px) {
  .portfolioCard__infoContainer {
    /* flex-direction: column; */
    /* padding: 0.33rem 0.33rem 0.33rem 0.66rem; */
    overflow-y: scroll;
    /* justify-content: space-between; */
  }
  .stackUsed__stackItem {
    /* width: 3rem !important; */
  }

  .infoContainer__right {
    /* flex-direction: row; */
  }
}
