.ourTeam__members {
  display: flex;
  flex: 1;
  scroll-snap-type: x mandatory;
  /* align-items: center; */
  flex-wrap: wrap;
  margin: 0 8rem;
}

.ourTeam {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@media (max-width: 960px) {
  .ourTeam__members {
    margin: 0 4rem;
  }
}

@media (max-width: 650px) {
  .ourTeam__members {
    margin: 0 2rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
