.teamMemberCard {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  justify-content: center;
  font-family: "Fira code";
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
.teamMemberCard__container {
  /* padding: 1rem; */
  margin: 1rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(80px);
  transition: all 0.3s ease-in-out;
  border-radius: 1rem;
  width: 80%;
  position: relative;
  cursor: pointer;
  overflow-y: hidden;
  /* display: flex; */
}

.teamMemberCard__container:hover {
  transform: scale(1.07);
}

.teamMemberCard__face1 {
  transition: all 0.3s ease;
}
.teamMemberCard__face1.active {
  /* transform: translateY(-100%); */
  opacity: 0;
}

.teamMemberCard__name.active {
  transform: translateY(100%);
}

.teamMemberCard__face2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-top: 0;
  overflow-y: scroll;
  height: 100%;
}

.teamMemberCard__imgContainer {
  display: flex;
  justify-content: space-evenly;
}

.teamMemberCard__container:hover {
  /* box-shadow: -3px 3px 30px rgba(0, 0, 0, 0.349); */
}

.teamMemberCard__profileImg {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  opacity: 0.8;
}

.teamMemberCard__infoContainer {
  width: 80%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teamMemberCard__socialLinks {
  margin-top: 1rem;
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  justify-content: flex-start;
  /* flex: 1; */
}

.teamMemberCard__socialLinks .fa {
  font-size: 3rem;
  padding-bottom: 0.5rem;
  opacity: 0.4;
}

.teamMemberCard__socialLinks .fa:hover {
  opacity: 1;
}

.teamMemberCard__name {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  /* background: linear-gradient(transparent, rgba(0, 0, 0, 0.493)); */
}

.stacks__tech {
  object-fit: contain;
  height: 2rem;
  padding: 0 0.2rem;
}

.teamMemberCard__bioTitle {
  font-family: "Fira Code";
  font-size: 1.5rem;
  font-weight: 500;
}
.teamMemberCard__bio {
  padding-bottom: 1rem;
  font-family: "Fira code";
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 300;
}

.teamMemberCard__expertise {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.teamMemberCard__jobTitle {
  font-size: 1rem;
  font-weight: 400;
}

.showMore__btn {
  display: none;
  font-size: 1rem;
  transition: all 0.3s ease-in;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem 1rem 0.5rem 1rem;
}

/* .teamMemberCard__container .teamMemberCard__col:last-child {
  display: flex;
} */

@media (max-width: 960px) {
  .teamMemberCard {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .teamMemberCard__bio {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

@media (max-width: 450px) {
  .teamMemberCard {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*
@media (max-width: 960px) {
  .teamMemberCard {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 650px) {
  .teamMemberCard {
    flex: 0 0 100%;
    max-width: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  .teamMemberCard__container {
    flex-direction: column;
  }
  .teamMemberCard__socialLinks {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .teamMemberCard__socialLinks .fa {
    font-size: 1.5rem;
    padding: 0.5rem;
    padding-bottom: 0;
  }
} */
