html, body {
  height: 100vh;
  /* overflow-y: scroll; */
}


.homepage {
  overflow-y: scroll;
  height: 100vh;
  position: relative;
  scroll-snap-type: y mandatory;
}

.homepage__home {
  position: absolute;
  top: 0;
  left: 0;
}
