.reachOut {
  min-height: 100vh;
}

.contactpage__reachOut {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.reachOut__map {
  padding: 0 2rem;
  /* width: 80%; */
  display: flex;
  justify-content: center;
}

.reachOut__mapImg {
  object-fit: contain;
  height: 100%;
  width: 800px;
}

.reachOut__info {
  margin: 2rem;
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.reachOut__infoContainer {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-family: 'roboto';
  line-height: 3rem;
  font-weight: 300;
}

.reachOut__infoContainer h3 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 1280px) {
  .reachOut__mapImg {
    width: 500px;
  }
  .reachOut__infoContainer {
    margin-bottom: 0.6rem;
    font-size: 1rem;
    line-height: 2rem;
  }
  .reachOut__infoContainer h3 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 650px) {
  .reachOut__mapImg {
    width: 280px;
  }
  .reachOut__map {
    padding: 0;
  }
  .contactpage__reachOut {
    flex-direction: column;
    justify-content: center;
  }
  .reachOut__infoContainer {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .reachOut__infoContainer h3 {
    font-size: 1.3rem;
  }
}
